.password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: var(--dark-gray-500);
  height: 5rem;
}
.password {
  color: var(--white);
}

.btn-copy {
  all: unset;
  background-color: transparent;
}
.copy-icon {
  cursor: pointer;
}
.copy-icon:hover path,
.btn-copy:hover path {
  fill: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (max-width: 30rem) {
  .password-container {
    height: 4rem;
  }
}
