.error-bubble {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--neon-green);
  padding: 0.5rem;
  top: 3%;
  border-radius: 4px;
  max-width: 260px;
  height: max-content;
  visibility: hidden;
  color: var(--dark-gray-500);
  font-weight: 700;
  font-size: 8px;
  text-align: center;
}

.error-bubble.isError {
  visibility: visible;
  background-color: var(--red);
  color: var(--white);
  animation: slideDown 1.2s linear;
}

.error-bubble.isCopied {
  visibility: visible;
  background-color: var(--neon-green);
  color: var(--dark-gray-900);
  animation: slideDown 1.2s linear;
}
@keyframes slideDown {
  from {
    transform: translateY(-50%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
