.char-len-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.char-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.char-text {
  color: var(--white);
}

.char-num {
  outline: none;
  border: none;
  background-color: transparent;
  min-width: 2ch;
  max-width: 40%;
  max-height: 31px;
  font-family: "JetBrains Mono", monospace;
  text-align: right;
  color: var(--neon-green);
}
.char-num::placeholder {
  color: hsl(126, 30%, 98%);
}

/* Reseting the style of input[type=range] to have custom style */
#char-range {
  --dim: 1.5em;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc((0.5 * var(--dim)) + (var(--ratio) * (100% - var(--dim))));
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  background: var(--dark-gray-900);
  background: transparent;
  height: 8px;
}

/* Range style for Chrome */
/* New style for the track */
#char-range::-webkit-slider-runnable-track {
  position: relative;
  /* background-color: green; */
  height: 8px;
  width: 100%;
  background: linear-gradient(var(--neon-green), var(--neon-green)) 0 /
    var(--sx) 100% no-repeat var(--dark-gray-900);
}

/* New style for the track */
#char-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  top: -8px;
  position: relative;
  border: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: grab;
  background-size: cover;
  left: -2px;
}
/* Range style for Mozilla */
#char-range::-moz-range-track {
  width: 100%;
  background: var(--dark-gray-900);
  height: 0.5rem;
}
#char-range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: grab;
  background-size: cover;
  /* progress/fill trick */
  /* box-shadow: -476px 0 0 470px var(--neon-green); */
}
#char-range::-moz-range-progress {
  background: var(--neon-green);
  height: 8px;
}
